<div class="checkout-detail">
  <form action="#" method="post" id="checkout-form">
    <div class="row">
      <div class="col-md-9">
        <div class="progress-indicator">
          <div class="progress-indicator-item" data-page="1">

          </div>
          <div class="progress-indicator-item" data-page="2">

          </div>
        </div>
        <div class="progress-indicator-pages">
          <div class="progress-indicator-page" data-page="1">
            <div class="progress-indicator-page-step">
              STEP 1 OF 2
            </div>
            <div class="progress-indicator-page-header">
              <h2>Delivery Details</h2>
            </div>
            <div class="progress-indicator-page-body">
              <div class="section">
                <h3>Checkout method</h3>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group radios inline">
                      <div class="radio">
                        <input type="radio" name="checkout_method" id="checkout_method_guest" value="checkout_method_guest" checked>
                        <label for="checkout_method_guest">GUEST</label>
                      </div>
                      <div class="radio">
                        <input type="radio" name="checkout_method" id="checkout_method_login" value="checkout_method_login">
                        <label for="checkout_method_login">LOGIN</label>
                      </div>
                      <div class="radio">
                        <input type="radio" name="checkout_method" id="checkout_method_register" value="checkout_method_register">
                        <label for="checkout_method_register">REGISTER</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="checkout-method-tabs">
                <div class="checkout-method-tab" data-tab-name="checkout_method_guest">
                  <div class="section">
                    <h3>SHIPPING ADDRESS</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group text">
                          <input id="shipping-first-name" type="text" class="form-control" placeholder="" name="shipping_firstname">
                          <label for="shipping-first-name">First Name</label>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div class="form-group text">
                          <input id="shipping-last-name" type="text" class="form-control" placeholder="">
                          <label for="shipping-last-name">Last Name</label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group select">
                          <select class="selectpicker form-control select-style-2" title="SELECT REGION">
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-10">
                        Address picker
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-10">
                        <div class="form-group checkboxes">
                          <div class="checkbox small dark">
                            <input type="checkbox" name="checkbox_a" id="billing_info_same">
                            <label for="billing_info_same">My billing information is the asame as my shipping information</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group text">
                          <input id="shipping-phone" type="text" class="form-control" placeholder="">
                          <label for="shipping-phone">Daytime Telephone</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="section">
                    <h3>Your details</h3>
                    <p>Please enter your email address below, and confirm your billing infomration is correct</p>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group text">
                          <input id="email-address" type="text" class="form-control" placeholder="">
                          <label for="email-address">Email address</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="section">
                    <h3>Delivery Method</h3>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group select">
                          <select class="selectpicker form-control select-style-2">
                            <option>Standard delivery (2 to 4 Business Days)</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="section">
                    <h3>Promo code</h3>
                    <p>If you have a coupon code, please enter the code in the space below and click 'Apply Code' to get the discount.</p>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group text">
                          <input id="promo-code" type="text" class="form-control" placeholder="">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <button class="btn btn-primary black">Apply Code</button>
                      </div>
                    </div>
                    <span>Remark: Coupon cannot be combined with any other offers.</span>
                  </div>
                  <div class="section">
                    <h3>Remarks</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <div class="form-group text">
                      <input id="remark" type="text" class="form-control" placeholder="">
                    </div>
                  </div>
                  <div class="section">
                    <h3>Your favourite team</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <ul class="favourite-team-selector">
                      <li>
                        <input type="checkbox" name="favourite_team" id="favourite_team_1">
                        <label for="favourite_team_1"><img src="http://placehold.it/50x50"></label>
                      </li>
                      <li>
                        <input type="checkbox" name="favourite_team" id="favourite_team_2">
                        <label for="favourite_team_2"><img src="http://placehold.it/50x50"></label>
                      </li>
                      <li>
                        <input type="checkbox" name="favourite_team" id="favourite_team_3">
                        <label for="favourite_team_3"><img src="http://placehold.it/50x50"></label>
                      </li>
                      <li>
                        <input type="checkbox" name="favourite_team" id="favourite_team_4">
                        <label for="favourite_team_4"><img src="http://placehold.it/50x50"></label>
                      </li>
                      <li>
                        <input type="checkbox" name="favourite_team" id="favourite_team_5">
                        <label for="favourite_team_5"><img src="http://placehold.it/50x50"></label>
                      </li>
                      <li>
                        <input type="checkbox" name="favourite_team" id="favourite_team_6">
                        <label for="favourite_team_6"><img src="http://placehold.it/50x50"></label>
                      </li>
                      <li>
                        <input type="checkbox" name="favourite_team" id="favourite_team_7">
                        <label for="favourite_team_7"><img src="http://placehold.it/50x50"></label>
                      </li>
                      <li>
                        <input type="checkbox" name="favourite_team" id="favourite_team_8">
                        <label for="favourite_team_8"><img src="http://placehold.it/50x50"></label>
                      </li>
                      <li>
                        <input type="checkbox" name="favourite_team" id="favourite_team_9">
                        <label for="favourite_team_9"><img src="http://placehold.it/50x50"></label>
                      </li>
                      <li>
                        <input type="checkbox" name="favourite_team" id="favourite_team_10">
                        <label for="favourite_team_10"><img src="http://placehold.it/50x50"></label>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="checkout-method-tab" data-tab-name="checkout_method_login">
                  <div class="section">
                    <h3>Sign In</h3>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group text">
                          <input id="checkout-method-login-email" type="text" class="form-control" placeholder="" name="checkout_method_login_email">
                          <label for="checkout-method-login-email">EMAIL ADDRESS</label>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div class="form-group text">
                          <input id="checkout-method-login-password" type="password" class="form-control" placeholder="" name="checkout_method_login_password">
                          <label for="checkout-method-login-password">PASSWORD</label>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <button class="btn btn-primary">Login</button>
                      </div>
                    </div>
                    <p>
                      <br>
                      Click <a href="#">here</a> if you have forgotten your password
                    </p>
                  </div>
                </div>
                <div class="checkout-method-tab" data-tab-name="checkout_method_register">
                  <div class="section">
                    <h3>User information</h3>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group text">
                          <input id="checkout-method-register-first-name" type="text" class="form-control" placeholder="" name="checkout_method_register_first_name">
                          <label for="checkout-method-register-first-name">FIRST NAME</label>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div class="form-group text">
                          <input id="checkout-method-register-last-name" type="text" class="form-control" placeholder="" name="checkout_method_register_last_name">
                          <label for="checkout-method-register-last-name">FIRST NAME</label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group text">
                          <input id="checkout-method-register-email" type="text" class="form-control" placeholder="" name="checkout_method_register_email">
                          <label for="checkout-method-register-email">EMAIL ADDRESS</label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12"><br></div>
                      <div class="col-md-5">
                        <div class="form-group text">
                          <input id="checkout-method-register-password" type="password" class="form-control" placeholder="" name="checkout_method_register_password">
                          <label for="checkout-method-register-password">PASSWORD</label>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div class="form-group text">
                          <input id="checkout-method-register-confirm-password" type="password" class="form-control" placeholder="" name="checkout_method_register_confirm_password">
                          <label for="checkout-method-register-confirm-password">CONFIRM PASSWORD</label>
                        </div>
                      </div>
                    </div>
                    <h3>Your Favourite Team</h3>
                    <p>Tell us your favourite team and we will keep you posted the most update offers, club news and more. Click the club logo to select.</p>
                    <ul class="favourite-team-selector">
                      <li>
                        <input type="checkbox" name="register_favourite_team" id="register_favourite_team_1">
                        <label for="register_favourite_team_1"><img src="http://placehold.it/50x50"></label>
                      </li>
                      <li>
                        <input type="checkbox" name="register_favourite_team" id="register_favourite_team_2">
                        <label for="register_favourite_team_2"><img src="http://placehold.it/50x50"></label>
                      </li>
                      <li>
                        <input type="checkbox" name="register_favourite_team" id="register_favourite_team_3">
                        <label for="register_favourite_team_3"><img src="http://placehold.it/50x50"></label>
                      </li>
                      <li>
                        <input type="checkbox" name="register_favourite_team" id="register_favourite_team_4">
                        <label for="register_favourite_team_4"><img src="http://placehold.it/50x50"></label>
                      </li>
                      <li>
                        <input type="checkbox" name="register_favourite_team" id="register_favourite_team_5">
                        <label for="register_favourite_team_5"><img src="http://placehold.it/50x50"></label>
                      </li>
                      <li>
                        <input type="checkbox" name="register_favourite_team" id="register_favourite_team_6">
                        <label for="register_favourite_team_6"><img src="http://placehold.it/50x50"></label>
                      </li>
                      <li>
                        <input type="checkbox" name="register_favourite_team" id="register_favourite_team_7">
                        <label for="register_favourite_team_7"><img src="http://placehold.it/50x50"></label>
                      </li>
                      <li>
                        <input type="checkbox" name="register_favourite_team" id="register_favourite_team_8">
                        <label for="register_favourite_team_8"><img src="http://placehold.it/50x50"></label>
                      </li>
                      <li>
                        <input type="checkbox" name="register_favourite_team" id="register_favourite_team_9">
                        <label for="register_favourite_team_9"><img src="http://placehold.it/50x50"></label>
                      </li>
                      <li>
                        <input type="checkbox" name="register_favourite_team" id="register_favourite_team_10">
                        <label for="register_favourite_team_10"><img src="http://placehold.it/50x50"></label>
                      </li>
                    </ul>
                    <br><br><br>
                    <div class="form-group checkboxes">
                      <div class="checkbox small dark">
                        <input type="checkbox" name="register_privacy" id="register-privacy">
                        <label for="register-privacy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</label>
                      </div>
                    </div>
                    <div class="form-group checkboxes">
                      <div class="checkbox small dark">
                        <input type="checkbox" name="register_promotion" id="register-promotion">
                        <label for="register-promotion">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</label>
                      </div>
                    </div>
                    <div class="form-group checkboxes">
                      <div class="checkbox small dark">
                        <input type="checkbox" name="register_tandc" id="register-tandc">
                        <label for="register-tandc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="progress-indicator-page" data-page="2" id="process-to-payment-page">
            <div class="progress-indicator-page-step">
              STEP 2 OF 2
            </div>
            <div class="progress-indicator-page-header">
              <h2>Review & Pay</h2>
            </div>
            <div class="progress-indicator-page-body">
              <div class="section">
                <div class="pull-right accept-payment-method-list">
                  <img src="http://placehold.it/83x25">
                </div>
                <div class="form-group radios">
                  <div class="radio">
                    <input type="radio" name="payment_method" id="payment_method_braintree">
                    <label for="payment_method_braintree"><h3>Credit Card</h3></label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group text">
                      <input id="credit-card-number" type="text" class="form-control" placeholder="">
                      <label for="credit-card-number">CREDIT CARD NUMBER</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-2">
                    <label>EXPIRY DATE</label>
                  </div>
                  <div class="col-xs-2">

                  </div>
                  <div class="col-xs-2">
                    <label>CVV(<a href="#">WHAT IS IT?</a>)</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-2">
                    <div class="form-group select">
                      <select class="selectpicker form-control select-style-2" title="MM">
                        <option>01</option>
                        <option>02</option>
                        <option>03</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="form-group select">
                      <select class="selectpicker form-control select-style-2" title="YYYY">
                        <option>2017</option>
                        <option>2018</option>
                        <option>2019</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="form-group text credit-card-number-cvv-input">
                      <input id="credit-card-number-cvv" type="text" class="form-control" placeholder="CVV">
                      {! <label for="credit-card-number-cvv">CVV</label> !}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group checkboxes ">
                      <div class="checkbox small dark">
                          <input type="checkbox" name="braintree_save_detail" id="braintree-save-detail">
                          <label for="braintree-save-detail">Securely store my payment details at Braintree for my next purchase.</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="section">
                <div class="pull-right accept-payment-method-list">
                  <img src="http://placehold.it/83x25">
                </div>
                <div class="form-group radios">
                  <div class="radio">
                    <input type="radio" name="payment_method" id="payment_method_paypal">
                    <label for="payment_method_paypal"><h3>Paypal</h3></label>
                  </div>
                </div>
                <ul>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</li>
                </ul>
              </div>
              <div class="section">
                <div class="pull-right accept-payment-method-list">
                  <img src="http://placehold.it/83x25">
                </div>
                <div class="form-group radios">
                  <div class="radio">
                    <input type="radio" name="payment_method" id="payment_method_pps">
                    <label for="payment_method_pps"><h3>PPS</h3></label>
                  </div>
                </div>
                <ul>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</li>
                </ul>
              </div>
              <div class="section">
                <div class="pull-right accept-payment-method-list">
                  <img src="http://placehold.it/83x25">
                </div>
                <div class="form-group radios">
                  <div class="radio">
                    <input type="radio" name="payment_method" id="payment_method_cod">
                    <label for="payment_method_cod"><h3>Cash on Delivery</h3></label>
                  </div>
                </div>
                <ul>
                  <li><a href="#">Lorem ipsum dolor sit</a> amet, consectetur <em>adipisicing elit</em>, sed do eiusmod tempor incididunt ut labore et dolore</li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="order-summary">
          <h3>Order Summary</h3>
          <div class="order-summary-content">
            <ul class="order-detail-list">
              <li>
                <div class="detail-description no-float">
                  3 Items
                </div>
                <ul>
                  <li>
                    <div class="detail-description">
                      Orignal price
                    </div>
                    <div class="detail-price">
                      £179.99
                    </div>
                  </li>
                  <li>
                    <div class="detail-description">
                      Sale
                    </div>
                    <div class="detail-price">
                      -£20.00
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <div class="detail-description">
                  Product Total
                </div>
                <div class="detail-price">
                  £159.99
                </div>
              </li>
              <li>
                <div class="detail-description">
                  Delivery
                </div>
                <div class="detail-price">
                  Free
                </div>
              </li>
            </ul>
          </div>
          <div class="order-price-total">
            <span class="price-label">
              Total
            </span>
            <span class="total-price">
              £159.99
            </span>
          </div>
          <a class="btn btn-primary process-payment" href="#">
            Process to pay
          </a>
          <a class="btn btn-primary transparent" href="#">
            Continue Shopping
          </a>
        </div>
        <div class="checkout-help">
          <h3>Need help?</h3>
          <ul>
            <li><a href="#">Delivery</a></li>
            <li><a href="#">Returns and Exchange Policy</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
          <h3>Accepted Payment Methods</h3>
          <img src="http://placehold.it/305x40" alt="">
        </div>
      </div>
    </div>
  </form>
</div>
