<div class="clubhome-section-3 clubhome-section clubhome-section-height-fix" style="background-image:url('http://placehold.it/1800x900/');">
  <div class="content-wrap">
    <div class="two-side-contents">
      <div class="content-right">
        <h1>Accessories</h1>
        <p>Give an unforgettable present with the FC Barcelona Gift Collection</p>
        <a href="#" class="btn btn-rounded">Shop now</a>
      </div>
    </div>
  </div>
</div>
