<footer class="club-footer">
    <div class="footer-first-nav">
      <div class="content-wrap">
        <ul>
        <li>
          <h3>Support</h3>
          <ul>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">About us</a></li>
          </ul>
        </li>
        <li>
          <h3>Orders</h3>
          <ul>
            <li><a href="#">How to order</a></li>
            <li><a href="#">Delivery info</a></li>
            <li><a href="#">Returns and exchanges</a></li>
          </ul>
        </li>
        <li>
          <h3>Payments</h3>
          <ul>
            <li><a href="#">Payment method</a></li>
          </ul>
        </li>
        <li>
          <h3>Security</h3>
          <ul>
            <li><span>100% secured site privacy security</span></li>
          </ul>
        </li>
      </ul>
      </div>
    </div>
    <div class="footer-base">
      <div class="content-wrap">
        <div class="footer-logo pull-left">
          <img src="http://placehold.it/400x120">
        </div>
        <div class="pull-right">
          <ul class="footer-payment-icons-list">
            <li><img src="http://placehold.it/30x30"></li>
            <li><img src="http://placehold.it/30x30"></li>
            <li><img src="http://placehold.it/30x30"></li>
            <li><img src="http://placehold.it/30x30"></li>
          </ul>
          <div class="footer-copyright">
            &copy;Copyright 2017 EZshopnet International Limitied;
          </div>
        </div>
    </div>
</footer>
