<footer class="ez-footer">
  <div class="footer-first-nav">
    <ul>
      <li><a href="#">Support</a></li>
      <li><a href="#">Faqs</a></li>
      <li><a href="#">Service</a></li>
      <li><a href="#">Orders & Returns</a></li>
      <li><a href="#">Press</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Shipping</a></li>
    </ul>
  </div>
  <div class="footer-second-nav">
    <ul>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms & Conditions</a></li>
      <li><a href="#">Limited Waranty</a></li>
      <li><a href="#">Cookies</a></li>
      <li><a href="#">Legal Notice</a></li>
    </ul>
  </div>
  <div class="footer-base">
    <div class="footer-logo">
      <img src="http://placehold.it/200x200">
    </div>
    <h3>Authentic & Offical</h3>
    <p><a href="#">Sign up to our newsletter</a></p>
    <div>
      <ul class="footer-social-list">
        <li><a href="#"><img src="http://placehold.it/30x30"></a></li>
        <li><a href="#"><img src="http://placehold.it/30x30"></a></li>
        <li><a href="#"><img src="http://placehold.it/30x30"></a></li>
      </ul>
    </div>
    <div>
      <ul class="footer-info-list">
        <li>EZFOOTERBALL 2016</li>
        <li>CVR. 354667677</li>
        <li>SALESSUPPORT@EZFOOTBALL.COM</li>
      </ul>
    </div>
  </div>
</footer>
