<div class="productreview">
  <section>
    <div class="content-wrap wrap-650">
      <div class="add-product-review-panel">
        <div class="row">
          <div class="col-sm-6">
            <h2>2 Reviews</h2>
            <div class="review-rate-star">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <span>3</span>
            </div>
            <div class="recommend-rate-container">
              <h2 class="recommend-rate">s
                97%
              </h2>
              <p>Reviews would recommed this product</p>
              <button class="btn btn-secondary">Add review</button>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="review-rates">
              <div class="review-slider-container" data-rates="Too Tight,Tight,Fit,Loose,Too Loose" data-rates-display="1,3,5">

              </div>
              <div class="review-slider-container" data-rates="Uncomfortable,Okay,Confortable" data-rates-display="1,3">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="review-list-sort-by">
    <div class="content-wrap">
      <div class="form-group select">
        <select class="selectpicker form-control">
          <option>Sort by</option>
          <option>Mustard</option>
          <option>Ketchup</option>
          <option>Relish</option>
        </select>
      </div>
    </div>
  </section>
  <section>
    <ul class="product-review-list">
      {#socialPanelItems}
      <li class="product-review-item">
        <div class="content-wrap wrap-650">
          <div class="review-date">
            22 June 2016
          </div>
          <div class="review-rate-star">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <h3>New Barcelona 16/17 Shirt</h3>
          <span class="review-author">Matt Wickhame, Manchester</span>
          <div class="review-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <div class="review-actions">
            <button class="btn btn-secondary">Comment</button>
            <button class="btn btn-secondary white"><i class="fa fa-thumbs-up"></i> 5</button>
            <button class="btn btn-secondary white"><i class="fa fa-thumbs-down"></i> 4</button>
          </div>
        </div>
      </li>
      {/socialPanelItems}
    </ul>
  </section>
  <section class="review-paginator">
    <ul class="paginator">
      <li><a href="#"><i class="fa fa-caret-left"></i></a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li><span>...</span></li>
      <li><a href="#">10</a></li>
      <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
    </ul>
  </section>
</div>
