  <h2>Privacy & Terms</h2>
  <ul>
    <li><a href="#">Privacy policy</a></li>
    <li><a href="#">Terms & conditions</a></li>
  </ul>
  <hr>
  <h2>Useful topics</h2>
  <ul>
    <li><a href="#">FAQs</a></li>
    <li><a href="#">Shipping</a></li>
  </ul>
