{>"templates/ezfootball_base"/}
{<pageTitle}Checkout Detail{/pageTitle}
{<pageJsContent_ez}

{/pageJsContent_ez}
{<headContent_ez}

{/headContent_ez}
{<bodyContent_ez}
  {>"partials/breadcrumb"/}
  <section>
    <div class="content-wrap">
      {>"partials/checkout-detail"/}
    </div>
  </section>
  {>"partials/productrelated"/}
  {! {>"partials/footer-item-list"/} !}
  {>"partials/ez-footer"/}
{/bodyContent_ez}
