{>"templates/ezfootball_base"/}
{<pageTitle}Club Product Detail{/pageTitle}
{<pageJsContent_ez}

{/pageJsContent_ez}
{<headContent_ez}

{/headContent_ez}
{<bodyContent_ez}
  {>"partials/breadcrumb"/}
  <section>
    <div class="content-wrap">
      {>"partials/productdetail"/}
    </div>
  </section>
  {>"partials/productreview"/}
  {>"partials/productrelated"/}
  <!-- {>"partials/newsletter-signup-bar"/} -->
  <!-- {>"partials/footer-item-list"/} -->
  {>"partials/club-footer"/}
{/bodyContent_ez}
