{>"templates/ezfootball_base"/}
{<pageTitle}Home{/pageTitle}
{<pageJsContent_ez}

{/pageJsContent_ez}
{<headContent_ez}

{/headContent_ez}
{<bodyContent_ez}
{>"partials/banner"/}
<div class="category-slick">
  {>"partials/category-slick"/}
</div>
<ul class="category-slick-dots"></ul>

<div class="content-wrap">
  <div class="news-grids row">
    {>"partials/news-grids"/}
  </div>
</div>
{>"partials/footer-brands"/}
{>"partials/newsletter-signup-bar"/}
{>"partials/footer-item-list"/}
{>"partials/ez-footer"/}
{/bodyContent_ez}
