{>"templates/ezfootball_base"/}
{<pageTitle}Member Preferences{/pageTitle}
{<pageJsContent_ez}

{/pageJsContent_ez}
{<headContent_ez}

{/headContent_ez}
{<bodyContent_ez}
  {>"partials/breadcrumb"/}
  <section>
    <div class="content-wrap">
      <div class="member-section">
        <div class="member-sidebar">
          {>"partials/member-sidebar"/}
        </div>
        <div class="member-section-content">
          <h2 class="content-title" data-toggle="collapse" href="#member-sidebar-mobile">Your Preferences</h2>
          <div class="visible-xs visible-sm">
            <div class="member-sidebar-mobile collapse collapsed" id="member-sidebar-mobile">
              {>"partials/member-sidebar"/}
            </div>
          </div>
          <section>
            <h4>Get News</h4>
            <div class="form-group checkboxes">
              <div class="checkbox small dark">
                <input type="checkbox" name="checkbox_c" id="checkbox_c_1">
                <label for="checkbox_c_1">Give Permission for Ezfootball to contact me</label> <a href="#">More inofrmation</a>
              </div>
            </div>
          </section>
          <section>
            <h4>Select Your Favourite Team</h4>
            <ul class="favourite-team-selector">
              <li>
                <input type="checkbox" name="favourite_team" id="favourite_team_1">
                <label for="favourite_team_1"><img src="http://placehold.it/50x50"></label>
              </li>
              <li>
                <input type="checkbox" name="favourite_team" id="favourite_team_2">
                <label for="favourite_team_2"><img src="http://placehold.it/50x50"></label>
              </li>
              <li>
                <input type="checkbox" name="favourite_team" id="favourite_team_3">
                <label for="favourite_team_3"><img src="http://placehold.it/50x50"></label>
              </li>
              <li>
                <input type="checkbox" name="favourite_team" id="favourite_team_4">
                <label for="favourite_team_4"><img src="http://placehold.it/50x50"></label>
              </li>
              <li>
                <input type="checkbox" name="favourite_team" id="favourite_team_5">
                <label for="favourite_team_5"><img src="http://placehold.it/50x50"></label>
              </li>
              <li>
                <input type="checkbox" name="favourite_team" id="favourite_team_6">
                <label for="favourite_team_6"><img src="http://placehold.it/50x50"></label>
              </li>
              <li>
                <input type="checkbox" name="favourite_team" id="favourite_team_7">
                <label for="favourite_team_7"><img src="http://placehold.it/50x50"></label>
              </li>
              <li>
                <input type="checkbox" name="favourite_team" id="favourite_team_8">
                <label for="favourite_team_8"><img src="http://placehold.it/50x50"></label>
              </li>
              <li>
                <input type="checkbox" name="favourite_team" id="favourite_team_9">
                <label for="favourite_team_9"><img src="http://placehold.it/50x50"></label>
              </li>
              <li>
                <input type="checkbox" name="favourite_team" id="favourite_team_10">
                <label for="favourite_team_10"><img src="http://placehold.it/50x50"></label>
              </li>
              <li>
                <input type="checkbox" name="favourite_team" id="favourite_team_11">
                <label for="favourite_team_11"><img src="http://placehold.it/50x50"></label>
              </li>
            </ul>
            <div style="width:300px;">
              <a class="btn btn-primary" href="#">Update</a>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
  {>"partials/ez-footer"/}
{/bodyContent_ez}
