.alert {
  border: 2px solid #DBDBDB;
  &.shipping-region-alert {
    text-transform: uppercase;
    i {
      margin-right: 10px;
      color: red;
    }
    a {
      font-size: 0.8em;
      margin-left: 20px;
      color: $lightgrey;
      text-decoration: underline;
    }
  }
}
