.breadcrumb {
  text-transform: uppercase;
  background: white;
  margin: 0;
  border-top: lighten($lightgrey,20%) solid 2px;
  border-bottom: lighten($lightgrey,20%) solid 1px;
  border-radius: 0;
  padding: 10px 15px;
  &,a {
    color: lighten($lightgrey,10%);
  }
  span {
    color: black;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    @include clearfix;
    li {
      float: left;
      margin-right: 5px;
      &:before {
        content: '/';
        margin-right: 5px;
      }
      &:first-of-type {
        &:before {
          content: '';
        }
      }
      &:last-of-type {
        color: black;
      }
    }
  }
}
