.btn {
  &.btn-rounded {
    text-transform: uppercase;
    border: 2px solid $lightgrey;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
    color: black;

  }
  &.btn-primary {
    background: $lightblue;
    border-color: $lightblue;
    border-radius: 5px;
    width: 100%;
    padding: 15px 0;
    text-transform: uppercase;
    &.transparent {
      border-width: 2px;
      border-color: $lightgrey;
      background: transparent;
      color: black;
    }
    &.black {
      background: $black;
      border-color: $black;
      color: white;
    }

    & + & {
      margin-top: 10px;
    }
  }
  &.btn-secondary {
    background: $black;
    border-color: $black;
    color: white;
    display: inline-block;
    padding: 5px 15px;
    text-transform: uppercase;
    & + & {
      margin-left: 10px;
    }
    &.white {
      background: white;
      border-color: $lightgrey;
      color: black;
    }
  }
  &:focus {
    outline: none!important;
  }
  &:active {
    outline: none;
    box-shadow: none;
    background: none;
  }
}

.close-btn {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  &:hover {
    opacity: 1;
  }
  &:before, &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}
