.card {
  position: relative;
  padding: 10px;
  .card-content {
    height: 100%;
    width: 100%;
    background: white;
    position: relative;
    .card-logo-badge {
      opacity: 0;
      position: absolute;
      right: 0;
      top: 30px;
      transition: opacity .3s;
      z-index: 1;
    }
    &:hover {
      .card-logo-badge {
        opacity: 1;
      }
    }
    .card-thumbnail {
      img { //images driven height thumbnail
        width: 100%;
      }
      .background-image { //fixed ratio thumbnail
        background-size: cover;
        background-position: center;
        padding-bottom: 100%;
        &.square {
          padding-bottom: 100%;
        }
      }
    }
    .card-slick-dots {
      list-style: none;
      padding: 0;
      text-align: center;
      position: absolute;
      right: 10px;
      li {
        display: inline-block;
        margin-left: 5px;
        button {
          font-size: 0;
          line-height: 0;
          display: block;
          cursor: pointer;
          color: transparent;
          border: 0;
          outline: none;
          background: transparent;
          position: relative;
          width: 15px;
          &:before {
            content: '';
            line-height: 30px;
            position: absolute;
            border: 5px solid #CCCCCC;
            border-radius: 50%;
            top: 5px;
            left: 0px;
            color: black;
          }
        }
        &.slick-active {
          button {
            &:before {
              border-color: #666666;
            }
          }
        }
      }
    }
    .card-description {
      padding: 10px;
      h3 {
        margin: 10px 0;
        max-height: 80px;
      }
      .card-header {
        @include clearfix;
        line-height: 30px;
        .card-header-left {
          float: left;
        }
        .card-header-right {
          float: right;
        }
        .card-tags {
          margin-right: 5px;
        }
        .alt-color {
          display: inline-block;
          margin-left: 5px;
          border: 5px solid #CCCCCC;
          border-radius: 50%;
          &:hover {
            border-color: #666666;
          }
        }

      }
      .card-footer {
        margin: 10px 0;
        .card-price, .card-review {
          margin: 10px 0;
        }
      }
    }
    .card-actions {
      position: absolute;
      right: 10px;
      bottom: 20px;
      border: 1px solid lighten($lightgrey, 10%);
      height: 30px;
      border-radius: 15px;
      line-height: 30px;
      @include clearfix;
      a {
        margin: 0 6px;
      }
      .card-actions-section {
        float: left;
        border-left: 1px solid lighten($lightgrey, 10%);
        padding: 0 10px;
        &:first-of-type {
          border-left: none;
        }
      }
    }
    .card-reviews {
      margin: 10px 0;
    }
  }

}
