.category-slick {
  margin: 40px 0;
  padding: 0 20px;
  .category-card {
    // margin: 0 20px;
    padding: 0 10px;
    .card-thumbnail {
      img {
        width: 100%;
      }
    }
    .card-description {
      padding: 20px 0;
    }
    h6 {
      color: #969696;
      text-transform: uppercase;
      margin: 5px 0;
    }
    h3 {
      color: black;
      margin: 5px 0;
    }
    p {
      color: #969696;
      margin: 5px 0;

    }
  }
}
.category-slick-dots {
  list-style: none;
  padding: 0;
  text-align: center;
  li {
    display: inline-block;
    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
      position: relative;
      &:before {
        font-size: 6px;
        line-height: 20px;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 20px;
        height: 20px;
        content: "•";
        text-align: center;
        opacity: 0.25;
        color: black;
        -webkit-font-smoothing: antialiased;
      }
    }
    &.slick-active {
      button {
        &:before {
          opacity: 0.75;
        }
      }
    }
  }
}
