.checkout {
  .continue-btn {
    text-decoration: underline;
    position: relative;
    color: $lightblue;
    text-transform: uppercase;
    &:before {
      position: absolute;
      content: '<';
      color: black;
      left: -10px;
    }
  }
  .checkout-all {
    margin: 20px 0;
  }
  .checkbox {
    label {
      font-size: 14px;
    }
  }
  .checkout-header {
    position: relative;
    background: #F5F5F5;
    padding: 10px 20px;
    .continue-btn {
      position: absolute;
      right: 10px;
      top: 18px;
      font-weight: bold;
    }
  }
  .checkout-store-items-container {
    background: #F5F5F5;
    padding: 0 20px 20px;
    margin-bottom: 40px;
    position: relative;
    .checkout-store-items-header {
      padding: 10px;
      border-bottom: 1px solid #DCDCDC;
    }
    .checkout-store-items-body {
      .checkout-store-item-list {
        list-style: none;
        padding: 0;
        margin: 0;
        > li {
          .checkout-store-item-header {
            position: relative;
            padding-left:0;
            padding-top:20px;
          }
          .checkout-store-item-body {
            .checkboxes {
              position: absolute;
              left: 0;
              top: 0;
            }
            @include clearfix;
            padding: 20px 240px 20px 180px;
            position: relative;
            border-bottom: 1px solid #DCDCDC;
            .checkout-store-item-thumbnail {
              position: absolute;
              left: 40px;
              width: 112px;
              height: 112px;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .checkout-store-item-description {
              .checkout-store-item-sku {
                display: block;

              }
              .checkout-store-item-attribute {
                display: block;
                margin: 10px 0;
                font-size: 0.8em;
              }
            }
            .checkout-store-item-actions {
              position: absolute;
              width: 240px;
              right: 0;
              top: 20px;
              .unit-price {
                font-size: 0.8em;
              }
              .discounted-price {
                position: absolute;
                display: block;
                font-weight: bold;
                top: 15px;
              }
              .checkout-store-item-options {
                @include clearfix;
                line-height: 34px;
                .checkout-store-item-unit-price {
                  width: 80px;
                  padding: 0 5px;
                  float: left;
                  position: relative;
                }
                .checkout-store-item-quantiity {
                  width: 80px;
                  padding: 0 5px;
                  float: left;
                }
                .checkout-store-item-subtotal {
                  width: 80px;
                  padding: 0 5px;
                  float: right;
                  position: relative;
                }
              }
              .checkout-store-item-action-list {
                @include clearfix;
                list-style: none;
                padding: 0;
                margin-top: 40px;
                float: right;
                li {
                  float: left;
                  &:after {
                    margin: 0 5px;
                    content: '/';
                  }
                  &:last-of-type{
                    font-weight: bold;
                    &:after {
                      content: none;
                    }
                  }
                }
              }
            }
          }
        }
        .continue-btn {
          position: absolute;
          bottom: 10px;
          right: 10px;
        }
      }
      .checkout-store-item-coupon {
        .checkboxes {
          display: inline-block;
          margin-right: 40px;
        }
        .coupon-code {
          display: inline-block;
          width: 300px;
        }
        .item-hints {
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
  }
  .checkout-delivery {
    .bootstrap-select {
      margin: 10px 0;
    }
  }
}

@media (max-width: $screen-sm) {
  .checkout {
    .checkout-store-items-container {
      padding-bottom: 40px;
      .checkout-store-items-body {
        .checkout-store-item-list {
          > li {
            padding-right: 0;
            padding-left: 0px;
            .checkout-store-item-body {
              padding-left: 60px;
              padding-right: 0px;
              padding-top: 50px;
              .checkout-store-item-thumbnail {
                width: 50px;
                height: 50px;
                left: 0;
              }
              .checkout-store-item-actions {
                position: static;
                .checkout-store-item-action-list {
                  float: left;
                  margin-top:20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
