.checkout-help {
  padding: 20px 0;
  h3 {
    padding: 20px 0;
  }
  ul {
    padding-left: 20px;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 12px;
    font-weight: bold;
  }
  img {
    max-width: 100%;
  }
}
