.checkout-detail {
  .radios {
    label {
      > * {
        margin-bottom: 0;
      }
    }
  }
  .credit-card-number-cvv-input {
    padding: 0;
    input {
      padding-left: 0;
    }
  }
  #process-to-payment-page {
    .radio {
      margin: 0;
      label {
        padding: 0;
      }
    }
  }
  .accept-payment-method-list {
    line-height: 32px;
  }
}

.checkout-method-tabs {
  .checkout-method-tab {
    display: none;
    &.active {
      display: block;
    }
  }
}
