.clubhome-section {
  text-align: center;
  padding-top: 80px;
  background-position: center;
  position: relative;
  &.grey {
    background: #F1F1F1;
  }
  &.clubhome-section-height-fix {
    height: 800px;
  }
  > img {
    width: 100%;
  }
  p {
    font-size: 22px;
    margin-bottom: 40px;
  }
  h1 {
    line-height: 1;
    margin-bottom: 20px;
  }
  .card {
    display: inline-block;
    float: none;
    text-align: left;
  }
  .two-side-contents {
    @include clearfix;
    .content-left ,.content-right {
      width: 50%;
      padding: 20px;
    }
    .content-left {
      float: left;
      padding-left: 15%;
      text-align: right;
    }
    .content-right {
      float: right;
      padding-right: 15%;
      text-align: left;
    }
  }
}
