.club-footer {
  background: #282828;
  color: white;
  box-shadow: inset 0 12px 25px -8px #000;
  padding-top: 5px;
  a, h3, span {
    color: white;
  }
  h3 {
    margin-bottom: 20px;
  }
  .footer-first-nav {
    padding: 20px 0;
    > ul, .content-wrap > ul {
      @include clearfix;
      list-style: none;
      padding: 0;
      display: inline-block;
      text-align: left;

      > li {
        float: left;
        width: 300px;
        font-size: 14px;

        ul {
          list-style: none;
          padding: 0;
          text-align: left;
          li {
            margin: 4px 0;
          }
        }
      }
    }
  }
  .footer-base {
    background-color: darkgrey;
    padding: 80px 0 40px;
    @include clearfix;
    .footer-payment-icons-list {
      list-style: none;
      margin-top: 60px;
      @include clearfix;
      padding: 0;
      li {
        float: left;
        margin-right: 10px;
      }
    }
  }
}
