.club-home {
  .header-flyout-menu {
    display: none;
  }
  .secondary-header {
    // top: 100%;
    top: -129px;
    transition: top .3s;
    &.header-show {
      top: 0;
    }
  }
  #main-content {
    padding-top: 38px;
  }
}
