.clubhome-hero {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
  .hero-header {
    @include clearfix;
    // background: white;
    font-family: 'bebas-neue';
    position: absolute;
    height: 91px;
    line-height: 91px;
    width: 100%;
    font-size: 20px;
    z-index: 9;
    transition: all 0.3s;
    .logo {
      margin-left: 20px;
    }
    a {
      color: white;
      padding: 0 20px;
      text-decoration: none;
      text-transform: uppercase;
      &:hover{
        color: white;
      }
    }

    .menu-group {
      list-style: none;
      padding: 0;
      .menu-group-item {
        float: left;
      }
    }
  }
  .hero-menu {
    position: absolute;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 2px;
    top: 120px;
    left: 40px;
    width: 200px;
    font-family: 'bebas-neue';
    h1, h2, h3, h4, h5, h6 {
      color: #555555;
      line-height: 1;
    }
    h1 {
      font-size: 30px;
      margin: 40px 0;
    }
    h3 {
      margin-top: 40px;
    }
    > ul {
      list-style: none;
      padding: 20px 0;
      font-size: 24px;
      border-bottom: 1px solid rgba(255,255,255,0.3);
      margin-top: -1px;
      a {
        color: white;
        display: block;
        position: relative;
        padding: 0 20px;
        &.has-submenu {
          &:after {
            content: '+';
            position: absolute;
            right:20px;
          }
        }
      }

      > li {
        position: relative;
        > ul {
          list-style: none;
          padding: 20px 0px;
          font-size: 20px;
          display: none;
          width: 200px;
          position: absolute;
          left: 100%;
          top:0;
          border: 1px solid rgba(255,255,255,0.3);
          > li {
            display: block;
          }
        }
        &:hover {
          a {
            &.has-submenu {
              &:after {
                content: '-';
              }
            }
          }
          > ul {
            display: block;
          }
        }
      }
      &:last-of-type {
        border-bottom: none;
      }
    }
  }
  .hero-content {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 300px;
    color: white;
    h1 {
      font-size: 150px;
      color: white;
      line-height: 1.2;
    }
    p {
      color: white;
      font-size: 24px;
    }
    .hero-logo-list {
      margin-top: 60px;
      list-style: none;
      padding: 0;
      // text-align: center;
      li {
        display: inline-block;
        margin: 0 20px;
      }
    }
  }
  .hero-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    p {
      color: white;
    }
  }
  @media (max-width: $screen-sm) {
    .hero-header {
      display: none;
    }
  }
}
