$lightblue: #62B6E0;
$black: #282828;
$lightgrey: #A9A9A9;
$red: rgba(197, 54, 34, 0.8);

$headerBackground: $black;

// $screen-xs: 768px;
// $screen-sm: 992px;
// $screen-md: 1200px;
// $screen-lg: 1600px;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1389px + 40px;

:focus {
  outline: none;
}
