.ez-footer {
  text-align: center;
  background: #282828;
  color: white;
  box-shadow: inset 0 12px 25px -8px #000;
  padding-top: 5px;
  a, h3 {
    color: white;
  }
  .footer-first-nav, .footer-second-nav {
    ul {
      @include clearfix;
      list-style: none;
      display: inline-block;
      padding: 0;
      li{
        float: left;
      }
    }
  }
  .footer-first-nav {
    border-bottom: #353535 solid 1px;
    padding-top: 10px;
    a {
      font-family: 'bebas-neue';
      padding:: 10px 20px;
      font-size: 20px;
      text-decoration: none;
    }
  }
  .footer-second-nav {
    padding-top: 10px;
    a {
      padding:: 10px 20px;
      font-size: 14px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
  .footer-base {
    background: #333333;
    padding-top: 40px;
    a, h3 {
      margin: 10px 0;
    }
  }
  .footer-logo {
    margin: 20px 0;
  }
  .footer-social-list {
    @include clearfix;
    list-style: none;
    display: inline-block;
    padding: 0;
    padding-bottom: 40px;
    li{
      float: left;
      margin: 0 20px;
    }
  }
  .footer-info-list {
    @include clearfix;
    list-style: none;
    display: inline-block;
    padding: 0;
    color: #979797;
    font-size: 12px;
    li{
      float: left;
      margin: 0 20px;
    }
  }
}
