.favourite-team-selector {
  @include clearfix;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    float: left;
    margin-right: 5px;
    input {
      display: none;
    }
    label {
      border: 1px solid transparent;
      padding: 5px;
      cursor: pointer;
    }
    input:checked + label {
      border: 1px solid black;
    }
  }
}
