.footer-brands {
  .content-wrap {
    .row {
      display: flex;
      justify-content: space-between;
      max-width: 100%;
      > * {
        flex-grow: 1;
        img {
          max-width: 100%;
        }
      }
    }
  }
  @media (max-width: $screen-sm) {
    .content-wrap {
      .row {
        display: block;
        text-align: center;
        > * {
          padding-bottom: 10px;
        }
      }
    }
  }
}
