.footer-item-list {
  margin: 20px 0;
  ul {
    list-style: none;
    padding: 0 20px;
    li {
      float: left;
      .item-thumbnail {
        img {
          width: 100%;
        }
      }
      .item-description {
        padding: 10px 0;
      }
      .item-category {
        text-transform: uppercase;
        color: $lightgrey;
        font-size: 12px;
      }
    }
  }
}
