header {
  @include clearfix;
  height: 38px;
  background: $headerBackground;
  color: white;
  line-height: 38px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  // overflow: hidden;
  width: 100%;
  position: fixed;
  z-index: 10;
  transition: all 0.3s;

  a {
    color: white;
    &:hover, &:active, &:focus {
      color: white;
      text-decoration: none;
    }
  }
  .menu-group {
    @include clearfix;
    list-style: none;
    padding: 0;
    .menu-group-item {
      float: left;
      padding: 0 10px;
      border-right: 1px solid #434343;
      position: relative;
      height: 38px;
      a {
        margin: 0 10px;
        .flag-icon {
          margin-right: 10px;
        }
        .fa-caret-down {
          font-size: 10px;
        }

      }
      span {
        padding: 0 10px;
        color: #959595;
        font-size: 12px;
      }
      ul {
        background: white;
        position: absolute;
        list-style: none;
        color: black;
        padding: 10px;
        text-align: left;
        font-size: 12px;
        font-weight: normal;
        min-width: 80px;
        line-height: 30px;
        box-shadow: 4px 5px 21px -5px #000;
        a {
          color: black;
          margin: 0;
          padding: 0;
          line-height: 30px;
        }
        li {
          white-space: nowrap;
          i.flag-icon {
            vertical-align: middle;
            font-size: 20px;
            margin-right: 3px;
          }
          hr {
            margin: 5px 0;
            border-color: black;
          }
        }
      }
      &:last-of-type {
        border-right: none;
      }
      &.cart-count {
        background: $lightblue;
        width: 38px;
        span {
          color: white;
          padding: 0;
        }
      }
    }
  }
}
.secondary-header {
  @include clearfix;
  background: white;
  font-family: 'bebas-neue';
  position: fixed;
  padding-top: 38px;
  height: 129px;
  line-height: 91px;
  width: 100%;
  font-size: 20px;
  z-index: 9;
  transition: all 0.3s;

  .logo {
    margin-left: 20px;
  }
  a {
    color: black;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    &:hover{
      color: black;
    }
  }

  .menu-group {
    list-style: none;
    padding: 0;
    .menu-group-item {
      float: left;
    }
  }
  .primary-menu-list {
    padding: 0;
    list-style: none;
    li {
      float: left;
    }
  }
}

.social-panel-toggle {
  &, span {
    color: $lightblue;
    &:hover {
      color: $lightblue;
    }
  }
  i {
    font-size: 10px;
    margin-left: 2px;
    vertical-align: super;
  }
}

@media (max-width: $screen-sm) {
  header {
    background: white;
    color: $black;
    height: 60px;
    line-height: 60px;
    a {
      color: $black;
      &:hover {
        color: $black;
      }
    }
    .pull-left,.pull-right {
      position: absolute;
    }
    .pull-right {
      right: 0;
    }
    .menu-group {
      .menu-group-item {
        font-size: 30px;
        border-right: none;
        padding: 0;
      }
    }

  }
  .secondary-header {
    display: none;
  }
  .social-panel-toggle {
    i {
      font-size: 30px;
      vertical-align: baseline;
    }
  }
}
header, .secondary-header, footer,.image-carousel-zoom-container {
  // display: none;
}
