.header-flyout-menu {
  width: 100%;
  background: white;
  border-bottom: 3px #E3E3E3 solid;
  border-top: 3px #E3E3E3 solid;
  .basic-menu {
    padding: 20px 0;
    text-align: left;
    font-family: 'bebas-neue';
    text-transform: uppercase;
    font-size: 20px;
    a {
      color: black;
    }
    ul {
      list-style: none;
      display: inline-block;
      margin-right: 20px;
      vertical-align: top;
    }
  }
  .tab-menu {
    .flyout-menu-nav {
      margin-top: -3px;
      border-top: 3px #E3E3E3 solid;
      font-family: 'bebas-neue';
      font-size: 20px;
      text-transform: uppercase;
      list-style: none;
      padding: 10px 0;
      position: relative;
      z-index: 10;
      background: white;
      a {
        color: black;
      }
      li {
        display: inline-block;
        margin: 0 20px;
      }
    }
    .flyout-tab-content {
      position: relative;
      height: 150px;
      a {
        color: black;
      }
      .tab-pane{
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 100%;
        transition: bottom 0.3s;
        &.active {
          bottom: 0;
          z-index: 1;
        }
        .flyout-tab-submenu {
          list-style: none;
          padding: 0;
          li {
            display: inline-block;
            margin: 0 10px;
            img {
              display: block;
            }
          }
        }
      }
    }
  }
  @media (max-width: $screen-sm) {
    display: none;
  }
}
