table {
  &.hover-table {
    position: relative;
    width: 100%;
    text-align: center;
    td {
      position: relative;
      z-index: 1;
    }
    th {
      text-align: center;
    }
    thead {
      border-bottom: 2px #CCCCCC solid;
    }
    // td {
    //   &:hover {
    //     background: lighten($lightblue, 20%);
    //   }
    // }
    .hover-layer-row, .hover-layer-column, {
      border: 2px $lightblue solid;
      position: absolute;
      z-index: 0;
      display: block;
    }
    .hover-layer-cell {
      position: absolute;
      background: lighten($lightblue, 20%);
      z-index: -1;
      display: block;
    }
    .hover-layer-row {

    }
    .hover-layer-column {
    }
  }
}
