.form-group {
  .form-control {
    box-shadow:none;
    // padding: 20px;
    background: none;
    &:focus {
      box-shadow: none;
      border-color: #ccc;
    }
  }
  .bootstrap-select {
    width: 100%;
    padding: 0;
    .dropdown-toggle {
      padding: 10px 20px;
    }
  }
  .radio, .checkbox {
    input[type=radio], input[type=checkbox] {
      display: none;
    }

  }
  .radio {
    line-height: 28px;
    input ~ label {
      &:before {
        content: '';
        display: inline-block;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        border: 2px solid $lightgrey;
        vertical-align: middle;
        margin-right: 10px;
      }
    }
    input:checked ~ label {
      &:before {
        border: 8px solid $black;
      }
    }
  }
  .checkbox {
    line-height: 39px;
    input ~ label {
      &:before {
        content: '';
        display: inline-block;
        border-radius: 2px;
        width: 39px;
        height: 39px;
        // border: 2px solid $lightgrey;
        background: $black;
        vertical-align: middle;
        margin-right: 10px;
      }
    }
    input:checked ~ label {
      &:after {
        position: absolute;
        left: 33px;
        top: 3px;
        color: white;
        content: "\f00c";
        font-family: FontAwesome;
      }
    }

    &.small {
      line-height: 20px;
      label {
        padding: 0;
      }
      input ~ label {
        &:before {
          content: '';
          display: inline-block;
          border-radius: 2px;
          width: 15px;
          height: 15px;
          border: 2px solid $lightgrey;
          background: white;
          vertical-align: middle;
          margin-right: 10px;
        }
      }
      input:checked ~ label {
        &:after {
          position: absolute;
          left: 2px;
          top: 1px;
          color: black;
          content: "\f00c";
          font-family: FontAwesome;
        }
      }
      &.dark {
        input ~ label {
          text-transform: uppercase;
          font-weight: bold;
          padding-left: 35px;
          position: relative;
          &:before {
            background: $black;
            width: 25px;
            height: 25px;
            border: 0;
            position: absolute;
            left: 0;
          }
        }

        input:checked ~ label {
          &:after {
            left: 6px;
            top: 3px;
            color: white;
          }
        }
      }
    }
  }
  .error-message {
    display: none;
  }
  &.text {
    position: relative;
    padding-top: 20px;
    label {
      position: absolute;
      top: 30px;
      // left: 20px;
      color: #999;
      // font-size: 1.2em;
      transition: all .3s;
    }
    input {
      border: none;
      border-radius: 0;
      box-shadow: none;
      border-bottom: 1px solid #000;
      &:focus {
        box-shadow: 0 1px 0 0 #000;
        & + label {
          color: #000;
          top:10px;
          left:0;
          font-size: 0.8em;
        }
      }
      &.filled {
        & + label {
          color: #000;
          top:10px;
          left:0;
          font-size: 0.8em;
        }
      }
      &.valid {
        border-bottom: 1px solid #2196F3;
        box-shadow: 0 1px 0 0 #2196F3;
      }
      &.invalid {
        border-bottom: 1px solid #F44336;
        box-shadow: 0 1px 0 0 #F44336;
      }
    }
  }
  &.error {
    .error-message {
      display: block;
    }
    &.text {
      label {
        color: #F44336!important;
      }
      input {
        border-color: #F44336!important;
        box-shadow: 0 1px 0 0 #F44336!important;
      }
    }
  }
}


.input-group {
  .form-control {
    height: 42px;
    // padding-top: 20px;
    // padding-bottom: 20px;
  }
  .btn {
    padding: 10px;
  }
  &.dark {
    border: 1px solid $black;
    border-radius: 5px;
    padding: 2px;
    background: white;
    .form-control {
      &, &:focus {
        border: 0;
        box-shadow: none;
      }
    }
    .input-group-btn {
      .btn {
        background: $black;
        color: white;
      }
    }
  }
}


.radios {
  &.inline {
    margin-bottom: 0;
    .radio {
      display: inline-block;
    }
  }
  label {
    padding-left: 0;
    margin-right: 20px;
    > * {
      line-height: 32px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  &.radio-boxes {
    &.flex {
      display:flex;
      .radio {
        flex-grow: 1;
        width: auto;
        margin: 10px;
        &:first-of-type {
          margin-left: 0px;
        }
        &:last-of-type {
          margin-right: 0px;
        }
        & + .radio {
          margin-top: 10px;
        }
      }
    }
    .radio {
      width: 100%;
    }
    input ~ label {
      width: 100%;
      padding: 5px 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      color: $black;
      background: white;
      &:before {
        content: none;
      }
    }
    input:checked ~ label {
      background: $black;
      border-color: $black;
      color: white;
      &:before {
        content: none;
        // border: 8px solid $black;
      }
    }
  }
}

.form-group {
  .select-style-2 {
    .dropdown-toggle {
      border: 0;
      border-bottom: 1px solid $black;
      border-radius: 0;
      padding-left: 5px;
      &:hover {
        background: inherit;
      }
    }
    &.open {
      .dropdown-toggle {
        background: inherit;
        box-shadow: none;
        &:hover {
          background: inherit;
        }
      }
    }
  }
}

.bootstrap-select {
  .dropdown-toggle{
    &:focus {
      outline: none!important;
    }
  }
}
