body {
  position: relative;
  font-family: "Lato";
  overflow-x: hidden;
  &.side-menu-open {
    #menu {
      transform: translateX(0%);
    }
    #main {
      left: 200px;
    }
    header,
    .secondary-header,
    #main {
      width: calc(100% - 200px);
    }
    &.social-panel-open {
      header,
      .secondary-header,
      #main {
        width: calc(100% - 500px - 200px);
      }
    }
  }
  &.social-panel-open {
    #main,
    header,
    .secondary-header
    {
      width: calc(100% - 500px);
      // transform: translateX(-500px);
    }
    #social-panel {
      transform: translateX(0);
    }
  }
  &.my-cart-open {
    #my-cart {
      transform: translateX(0);
    }
  }
  &.unloading {
      &:before {
      content: '';
      display: block;
      position: fixed;
      width: 64px;
      height: 64px;
      background-image: url(../img/loading.gif);
      z-index: 2001;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    &:after {
      content: '';
      display: block;
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(255, 255, 255, 0.7);
      z-index: 2000;
    }
  }
}
section {
  @include clearfix;
  height: auto;
  background: white;
  margin: 0;
  padding: 40px 0;
  border-bottom: 1px solid #ddd;
  &.grey {
    background: lighten($lightgrey,30%);
  }
}
.content-wrap {
  width: 100%;
  max-width: 1429px;
  padding: 0 20px;
  margin: 0 auto;
  &.no-pad {
    padding: 0;
    max-width: 1389px;
  }
  &.wrap-650 {
    max-width: 690px;
  }
}

#menu {
  position: fixed;
  width: 200px;
  height: 100vh;
  height: 100%;
  transform: translateX(-100%);
  transition: all 0.3s;
  background: #282828;
  overflow: auto;
  z-index: 10;
}

#main {
  width: 100%;
  transition: all 0.3s;
  left: 0;
  position: absolute;
  overflow-x:hidden;
}
#main-content {
  padding-top: 129px;
  text-align: left;
}

.header-flyout-menu {
  position: fixed;
  top: 129px;
  transform: translateY(-100%);
  transition: all 0.3s;
  z-index: 8;
  &.menu-show {
    transform: translateY(0);
  }
}

#social-panel {
  position: fixed;
  border-top: $lightblue solid 4px;
  max-width: 500px;
  width: 100%;
  height: 100vh;
  height: 100%;
  overflow: auto;
  transition: all 0.3s;
  right: 0;
  top: 0;
  transform: translateX(100%);
}

#my-cart {
  position: fixed;
  max-width: 400px;;
  width: 100%;
  height: 100vh;
  height: 100%;
  overflow: auto;
  transition: all 0.3s;
  right: 0;
  top: 0;
  transform: translateX(100%);
}

// productlistppage
.product-list {
  position: relative;
  padding-left: 270px;
  .product-list-filters {
    position: absolute;
    width: 250px;
    left: 0;
  }
  @media (max-width: $screen-md) {
    padding-left: 20px;
  }
}

@media (max-width: 1740px) {
  body {
    // &.side-menu-open {
    //   #menu {
    //     transform: translateX(0%);
    //   }
    // }
    #social-panel {
      top: 38px;
    }
    &.social-panel-open{
      #main,
      header,
      .secondary-header
      {
        width: 100%;
        // transform: translateX(-500px);
      }

      #social-panel {
        // position: fixed;
        transform: translate(0);
        .social-panel-close {
          display: block;
        }
      }
    }
    &.social-panel-open.side-menu-open {
      #main,
      header,
      .secondary-header
      {
        width: calc(100% - 200px);
        // transform: translateX(-500px);
      }
    }

  }
}

@media (max-width: $screen-sm) {
  body {
    #social-panel {
      top: 0px;
    }
    &.social-panel-open {
      #social-panel {
        top: 0px;
      }
    }
    &.mobile-footer-open {
      .mobile-footer {
        bottom: 0px;
      }
    }
    #main-content {
      padding-top: 60px;
    }

    &.side-menu-open {
      #main {
        left: 0;
      }
      header,
      .secondary-header,
      #main {
        width: 100%;
      }
    }
  }

}
