.login-box {
  max-width: 1000px;
  margin: 0 auto;
  .sign-in-box, .register-box {
    width: 50%;
    padding: 50px 100px;
    float: left;
    border-top: 3px solid;
    background: #F6F4F6;
  }

  .sign-in-box {
    border-top-color: $lightblue;
  }
  .register-box {
    border-top-color: #CCCCCC;
  }

  p {
    margin: 20px 0;
  }
  .tick-check-list {
    list-style: none;
    padding: 0;
    li {
      position: relative;
      padding-left: 20px;
      &:before {
        content: "\f00c";
        font-family: FontAwesome;
        color: $lightblue;
        position: absolute;
        left: 0;
      }
    }
  }
  @media (max-width: $screen-md) {
    .sign-in-box, .register-box {
      padding: 50px;
    }
  }
  @media (max-width: $screen-sm) {
    .sign-in-box, .register-box {
      width: 100%;
    }
  }
}
