.member-section {
  position: relative;
  padding-left: 220px;
  min-height: 500px;
  .member-sidebar {
    position: absolute;
    width: 200px;
    left: 0;
    h2 {
      margin-bottom: 20px;
    }
    ul {
      padding-left: 20px;
      list-style: none;
      text-transform: uppercase;
      li {
        margin: 10px 0;
        a {
          font-weight: bold;
          color: $lightgrey;
          &:hover {
            color: $lightblue;
          }
        }
      }
    }
  }
  .member-section-content {
    border-top: 3px solid;
    border-top-color: $lightblue;
    background: #F5F5F5;
    .content-title {
      padding: 20px 40px;
      border-bottom: 1px solid #DDDDDD;
    }
    section {
      padding: 20px 40px;
      border-bottom: 1px solid #DDDDDD;
      &:last-of-type {
        border-bottom: 0;
      }
    }
    .btn-primary {
      margin-top: 40px;
    }
  }
  .member-sidebar-mobile {
    padding-top: 20px;
    h2 {
      text-align: center;
    }
    ul {
      text-align: center;
      list-style: none;
      padding: 0;
      text-transform: uppercase;
      li {
        margin: 10px 0;
        a {
          font-weight: bold;
          color: $lightgrey;
          &:hover {
            color: $lightblue;
          }
        }
      }
    }
  }

  @media (max-width: $screen-md) {
    padding-left:0 ;
    .member-sidebar {
      position: relative;
      display: none;
    }
    .member-section-content {
      .content-title {
        cursor: pointer;
        position: relative;
        &:after {
          position: absolute;
          right: 20px;
          content: '-';
        }
        &.collapsed {
          &:after {
            content: '+';
          }
        }
      }
    }
    .member-sidebar-mobile {
      // &.collapse {
      // }
      // display: block;
      // display: none;
    }
  }
}
