.side-menu-toggle {
  padding-left: 20px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  line-height: 38px;
  color: white;
  transform: rotate(0deg);
  &:hover, &:active, &:focus {
    color: white;
  }
  .fa-times {
    display: none;
  }
}
.side-menu-open {
  .side-menu-toggle {
    .fa-times {
      display: inline-block;
    }
    .fa-bars {
      display: none;
    }
  }
}

#menu {
  padding: 40px 20px;
  font-family: 'bebas-neue';
  h1, h2, h3, h4, h5, h6 {
    color: #555555;
    line-height: 1;
  }
  h1 {
    font-size: 30px;
    margin: 40px 0;
  }
  h3 {
    margin-top: 40px;
  }
  > ul {
    list-style: none;
    padding: 0;
    font-size: 24px;
    a {
      color: white;
      display: block;
      position: relative;
      &.has-submenu {
        &:after {
          content: '-';
          position: absolute;
          right:0;
        }
        &.collapsed {
          &:after {
            content: '+';
          }
        }
      }
    }
    > li {
      > ul {
        list-style: none;
        padding-left: 10px;
        font-size: 20px;
        > li {
          display: block;
        }
      }
    }
    &.lang-list {
      font-size: 18px;
      li {
        margin: 10px 0;
      }
    }
  }
}


@media (max-width: $screen-sm) {
  .side-menu-toggle {
    color: $black;
    line-height: 60px;
    font-size: 30px;
    &:hover, &:active, &:focus {
      color: $black;
    }
  }
  // .side-menu-open {
    // .side-menu-toggle {
      // color: white;
    // }
  // }
}
