.mobile-footer {
  display: none;
  position: fixed;
  bottom: -60px;
  background: $black;
  width: 100%;
  height: 60px;
  font-size: 30px;
  line-height: 60px;
  transition: bottom .3s;
  z-index: 10;
  .mobile-footer-item-list {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    a {
      color: white;
      &:hover {
        color: white;
      }
    }
    li {
      flex-grow: 1;
      &.has-notice {
        a {
          &:after {
            content: '';
            border: 5px solid $lightblue;
            width: 0px;
            height: 0px;
            display: inline-block;
            vertical-align: middle;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
@media (max-width: $screen-sm) {
  .mobile-footer {
    display: block;
  }
}
