.modal {
  &.search-overlay {
    background: rgba(250,250,250,0.9);
    .modal-content {
      box-shadow: none;
      border: 0;
      background: none;
      .modal-header {
        border: 0;
        height: 80px;
      }
      .modal-body {
        border: 0;
      }
      .modal-footer {
        border: 0;
      }
    }

    .search-overlay-search-box-container {
      border-bottom: 2px $lightgrey solid;
      color: $lightgrey;
      display: table;
      width: 100%;
      padding-bottom: 5px;
      margin-bottom: 150px;
      i {
        font-size: 30px;
        line-height: 40px;
        display: table-cell;
      }
      input {
        width: 100%;
        padding: 0 5px;
        font-size: 30px;
        line-height: 40px;
        background: none;
        box-shadow: none;
        border: 0;
        display: table-cell;
        &:active, &:focus {
          outline: none;
        }
        &::placeholder {
          color: lighten($lightgrey,10%);
        }
      }
    }
    .search-trending-tags {
      list-style: none;
      padding: 0;
      li {
        float: left;
        margin: 10px;
        margin-left: 0px;
        a {
          display: block;
          padding: 5px 15px;
          border: 1px solid $lightgrey;
          color: $lightgrey;
          &:hover {
            color: $lightgrey;
          }
        }
      }
    }
  }
  &#region-selction-modal {
    .modal-dialog {
      width: 768px;
    }
    .modal-content {
      box-shadow: none;
      border: 0;
      border-radius: 0;
      text-align: center;
      position: relative;
      width: 768px;
      .close {
        opacity: 1;
        position: absolute;
        right: 20px;
      }
      .modal-header {
        border: 0;
        // height: 80px;
        padding: 30px 160px 0;
        h2 {
          font-size: 50px;
          line-height: 1.2;
        }
      }
      .modal-body {
        border: 0;
        p {
          color: black;
          font-size: 18px;
          text-transform: uppercase;
        }
        .country-selector {
          a {
            font-size: 120px;
            margin: 0 20px;
          }
        }
      }
      .modal-footer {
        text-align: center;
        border: 0;
        font-size: 20px;
        padding-top: 0;
        padding-bottom: 40px;
        a {
          color: black;
          text-decoration: none;
          text-transform: uppercase;
          border-bottom: 1px solid black;
          &:hover,&:active,&:focus {
            color: black;
          }
        }
      }
    }
  }
  &#product-list-filters-modal {
    padding: 0;
    background: rgba(250,250,250,0.9);
    .modal-dialog {
      width: 100%;
      margin: 0;
    }
    .modal-content {
      box-shadow: none;
      border: 0;
      background: none;

      .modal-header {
        border: 0;
        position: absolute;
        z-index: 1;
        width: 100%;
        // height: 80px;
      }
      .modal-body {
        border: 0;
      }
      .modal-footer {
        border: 0;
        text-align: center;
      }
    }
  }

}
