#my-cart {
  background: #F3F3F3;
  z-index: 11;
  padding: 20px;
  h2 {
    border-bottom: 2px solid #EDEDED;
    padding: 30px 0 10px;
  }
  .my-cart-product-list {
    list-style: none;
    padding: 0;
    > li {
      padding: 20px 0 20px 120px;
      position: relative;;
      border-bottom: 2px solid #EDEDED;
    }
    .product-thumbnail {
      width: 100px;
      height: 100px;
      position: absolute;
      left:0;
      img {
        width: 100%;
      }
    }
    .product-description {
      font-size: 10px;
      font-weight: 600;
      .product-sku {
        display:block;
        color: #959595;
        margin-bottom: 5px;
      }
      .product-attribute {
        display:block;
        color: #959595;
        margin-bottom: 5px;
      }
      .product-price {
        display:block;
        margin-bottom: 5px;
      }
    }
    .product-actions {
      @include clearfix;
      list-style: none;
      padding: 0;
      &, a {
        color: #959595;
      }
      li {
        float: left;
        &:after {
          content: '/';
          margin: 0 3px;
        }
        &:last-of-type {
          &:after {
            content: '';
          }
        }
      }
    }
  }
  .basket-total {
    @include clearfix;
    padding: 10px 0;
    font-size: 16px;
    label {
      float: left;
    }
    span {
      float: right;
    }
  }
  .product-recommendation-list{
    list-style: none;
    padding: 0;
    .card {
      .card-content {
        position: relative;
        padding: 20px 0 20px 120px;
        min-height: 160px;
        .card-thumbnail {
          position: absolute;
          left: 0;
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}
