.news-grids {
  .news-item {
    height: 400px;
    padding: 10px;
    .card-thumbnail {
      .card-thumbnail-img {
        width: 100%;
        padding-bottom: 70%;
        background-size: cover;
      }
    }
    &.width-2 {
      .card-thumbnail {
        .card-thumbnail-img {
          width: 100%;
          padding-bottom: 34%;
          background-size: cover;
        }
      }
    }
    &.height-2 {
      height: 800px;
      .card-thumbnail {
        .card-thumbnail-img {
          width: 100%;
          padding-bottom: calc(70% + 400px);
          background-size: cover;
        }
      }
    }
  }
  @media(max-width: $screen-md) {
    .news-item {
      &, &.width-2, &.height-2 {
        height: auto;
        .card-content {
          padding-bottom: 40px;
        }
      }
    }
  }
}
