.newsletter-signup-bar {
  text-align: center;
  background: $black;
  padding: 10px;
  h3 {
    display: inline-block;
    color: white;
    line-height: 34px;
  }
  .input-group {
    margin-left: 20px;
    max-width: 400px;
    width: 100%;
    display: inline-table;
    vertical-align: bottom;
    .form-control {
      display: inline-block;
    }
  }
}

@media (max-width: $screen-sm) {
  .newsletter-signup-bar {
    padding: 20px;
    h3{
      display: block;
      margin-bottom: 20px;
      font-size: 30px;
    }
    .input-group {
      margin: 0;
    }
  }
}
