.order-summary {
  // display: none;
  h3 {
    padding: 10px 0;
  }
  .order-summary-content {
    padding: 0 20px;
    border: 2px #E6E6E6 solid;
    border-radius: 3px;
    .order-detail-list {
      list-style: none;
      padding: 0;
      margin: 0;
      text-transform: uppercase;

      .detail-description {
        float: left;
        &.no-float {
          float: none;
        }
      }
      .detail-price {
        float: right;
        font-weight: bold;
      }

      > li {
        @include clearfix;
        padding: 10px 0;
        border-bottom: 1px #E6E6E6 solid;
        &:last-of-type {
          border-bottom: 0;
        }
        > .detail-description {
          font-weight: bold;
          font-size: 16px;
        }

        ul {
          display: block;
          list-style: none;
          padding-left: 10px;
          li {
            @include clearfix;
          }
          .detail-description {
          }
        }
      }
    }
  }
  .order-price-total {
    @include clearfix;
    padding: 20px;
    .price-label {
      float: left;
      font-size: 16px;
      font-weight: bold;
    }
    .total-price {
      float: right;
      font-size: 20px;
      font-weight: bold;
    }
  }
}
