.paginator {
  @include clearfix;
  list-style: none;
  padding: 0;
  li {
    float: left;
    margin: 0 5px;
    a, span {
      padding: 2px;
      color: $lightgrey;
    }
    &.active {
      a {
        color: $lightblue;
      }
    }
  }
}
