.product-list-nav {
  border-top: 1px #DCDCDC solid;
  border-bottom: 1px #DCDCDC solid;
  margin-top: -1px;
  padding: 10px;
  .content-wrap {
    padding-left: 270px;
    display: flex;
    > div {
      flex-grow: 1;
      label {
        font-weight: bold;
      }
      .bootstrap-select  {
        margin: 0 10px;
      }
      &.list-view-count-selector {
        text-align: left;
        > * {
          display: inline-block;
        }
        .bootstrap-select  {
          width: 60px;
        }
      }
      &.list-sort-by-selector {
        text-align: center;
        > * {
          display: inline-block;
        }
        .bootstrap-select  {
          width: 160px;
        }
      }
      &.list-paginator {
        text-align: right;
        > * {
          display: inline-block;
        }
        > .btn {
          background: white;
          border: 1px #DCDCDC solid;
          padding-left: 18px;
          padding-right: 18px;
          margin: 0 5px;
        }
        .bootstrap-select  {
          width: 80px;
        }
      }
    }
  }
}
.product-list-nav-mobile {
  display: flex;
  .product-list-nav-btn {
    text-transform: uppercase;
    border: 2px solid #EEEEEE;
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    margin: 10px;
    flex-grow: 1;
    position: relative;
    font-size: 20px;
    line-height: 25px;
    &:after {
      content: "\f107";
      font-family: "FontAwesome";
      position: absolute;
      right: 20px;
      font-size: 25px;
    }
    &:focus {
      outline: none!important;
    }
    &:active {
      outline: none;
      box-shadow: none;
      background: none;
    }
  }
}
@media (max-width: $screen-md) {
  .product-list-nav {
    display: none;
  }
}
