.product-list-header-nav {
  ul {
    padding: 0;
    list-style: none;
    margin: 0;
    li {
      position: relative;
      border: 1px solid lighten($lightgrey,20%);
      margin-left: -1px;
      &.selected {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 1;
          border-top: 5px $lightblue solid;
        }
      }
      .list-header-background {
        padding-bottom: 50%;
        width: 100%;
        background-size: cover;
      }
      .list-header-content {
        // background: white;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        text-align: right;
        h3 {
          color: $lightgrey;
        }
      }
    }
  }
}
