.productreview {
  .add-product-review-panel {
    text-align: center;
  }
}
.review-list-sort-by {
  .select {
    width: 200px;
    margin: 0 auto;
  }
}
.product-review-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: -40px;
  .product-review-item {
    border-bottom: 1px solid #ddd;
    padding: 40px 0;
    &:last-of-type {
      border: 0;
    }
    .review-date {
      float: right;
      color: $lightgrey;
    }
    .review-author {
      font-weight: bold;
    }
    .review-content {
      padding: 10px 0;
    }
  }
}
.review-paginator {
  text-align: center;
  padding: 20px 0;
  .paginator {
    display: inline-block;
  }
}
