.product-list-filters {
  padding-left: 20px;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  h2 {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    margin: 20px 0;
    text-transform: uppercase;
  }
  .filter-group {
    border-top: 1px #D4D4D4 solid;
    a {
      color: black;
      text-decoration: none;
      &:hover {
        color: black;
      }
    }
    > a {
      padding: 10px 0;
      display: block;
      font-family: 'bebas-neue';
      font-size: 18px;
      position: relative;
      &:after {
        content: "\f107";
        width: 14px;
        height: 14px;
        position: absolute;
        right: 10px;
        top: 11px;
        overflow: hidden;
        font-family: 'FontAwesome';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 19px;
        color: #000;
      }
      &.collapsed:after {
        content: "\f106";
      }
    }
    .filter-select-list {
      list-style: none;
      padding: 0;
      @include clearfix;
      &.list {
        font-family: 'Lato';
        margin: 20px 0;
        li {
          margin: 5px 0;
        }
      }
      &.grids {
        a {
          display: inline-block;
          padding: 5px 15px;
        }
        li {
          float: left;
          margin: 5px;
          border: 1px solid $black;
        }
      }
      &.colors {
        li {
          float: left;
          margin: 5px;

          &.blue {
            .color-block {
              border-color: #1D48AE;
            }
            &.selected, &:hover  {
              .color-block {
                background: #1D48AE;
              }
            }
          }
          &.red {
            .color-block {
              border-color: #892A4A;
            }
            &.selected, &:hover  {
              .color-block {
                background: #892A4A;
              }
            }
          }
          &.black {
            .color-block {
              border-color: $black;
            }
            &.selected, &:hover  {
              .color-block {
                background: $black;
              }
            }
          }
          &.yellow {
            .color-block {
              border-color: #FFBA4F;
            }
            &.selected, &:hover  {
              .color-block {
                background: #FFBA4F;
              }
            }
          }
        }
        .color-block {
          display: block;
          border-radius: 50%;
          border-width: 4px;
          border-style: solid;
          width: 25px;
          height: 25px;
        }
      }

    }

  }
}

.price-filter-slider {
  margin: 30px 0;
  width: 90%;
  &.ui-slider {
    &.ui-slider-horizontal {
      height: 0;
    }
  }
  .ui-slider-range {
    height: 5px;
    background: $lightblue;
    top: -2px;
  }
  .ui-slider-handle {
    height: 30px;
    width: 15px;
    border-radius: 7.5px;
    top: -15px;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.3);
    cursor: pointer;
  }
  .price-filter-slider-content {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
  }
}


@media (max-width: $screen-md) {

}
