.productinfo {
  padding: 40px 20px;
  // max-width: 1;
  margin: 0 auto;
  text-align: center;
  //image
  .image-carousel-zoom-container {
    @include clearfix;
    padding-left: 120px;
    position: relative;
  }
  .image-carousel-container {
  	width: 100px;
  	position: absolute;
    left: 0;
  	// margin: 0 20px 0 0;
  }
  .image-carousel-control-next,
  .image-carousel-control-prev {
  	width: 100px;
  	height: 28px;
  	display: block;
  }
  .image-carousel-control-next, .image-carousel-control-prev {
    color: black;
    font-size: 20px;
    text-align: center;
    &:hover {
      color: white;
      background: $black;
    }
    &.inactive {
      color: $lightgrey;
      cursor: default;
      &:hover {
        color: black;
        background: transparent;
      }
    }
  }
  .image-carousel-control-next {
  	margin: 7px auto 0;
  }
  .image-carousel-control-prev {
  	margin: 0 auto 10px;
  }
  .image-carousel {
  	width: 100px;
  	height: 569px;
  	position: relative;
  	overflow: hidden;
  }
  .image-carousel-list {
  	height: 20000em;
    position: relative;
    list-style: none;
    padding: 0;
  }
  .image-carousel-item {
  	margin: 0 0 10px 0;
  	cursor: pointer;
  	border-bottom: 3px solid transparent;

  	-webkit-transition: border .5s ease-in-out;
      -moz-transition: border .5s ease-in-out;
      -ms-transition: border .5s ease-in-out;
      -o-transition: border .5s ease-in-out;
      transition: border .5s ease-in-out;
  }
  .image-carousel-item:hover {
  	height: 103px;
  	margin: 0 0 10px 0;
  	border-bottom: 3px solid #025F8E;
  }
  .image-carousel-active-item,
  .image-carousel-active-item:hover {
  	height: 103px;
  	margin: 0 0 10px 0;
  	border-bottom: 3px solid #000;
  }
  .image-carousel-item img {
  	width: 100px;
  	height: 100px;
  	display: block;
  }


  .main-image {
  	// float:left;
  	width: 100%;
  	margin: 0px;
    position: relative;
    .image-proxy {
      width: 100%;
      padding-bottom: 100%;
    }
    img {
      position: absolute;
      width: 100%;
      left:0;
      top:0;
    }
  }
  .main-image a {
	  display: block;
  }


  //mobile image
  .mobile-image-container {
    display: none;
    margin-bottom: 40px;
  }
  #mobile-image-carousel {
    ul {
      padding: 0;
      list-style: none;
      li {
        position: relative;
      }
    }
    .slide-image {
      position: absolute;
      width: 100%;
      height: 100%;
      top:0;
      left: 0;
    }
    .image-proxy {
      width: 100%;
      padding-bottom: 100%;
    }
  }
  .mobile-image-slick-dots {
    list-style: none;
    padding: 0;
    text-align: center;
    li {
      display: inline-block;
      margin-left: 5px;
      button {
        font-size: 0;
        line-height: 0;
        display: block;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
        position: relative;
        &:before {
          content: '';
          line-height: 30px;
          position: absolute;
          border: 5px solid #CCCCCC;
          border-radius: 50%;
          top: 5px;
          left: 0px;
          color: black;
        }
      }
      &.slick-active {
        button {
          &:before {
            border-color: #666666;
          }
        }
      }
    }
  }

  //product description
  .price-placeholder {
    font-size: 20px;
    margin: 10px 0;
  }
  .product-feature-list {
    list-style: none;
    padding: 0;
    text-align: left;
    img {
      margin-right: 10px;
    }
    li {
      margin: 5px 0;
    }
  }
  .product-personalize {
    // padding: 20px 0;
    h3 {
      margin: 20px 0;
    }
    .switch-panel-header {
      text-align: left;
    }
  }
  .price-summary {
    margin: 20px 0;
    text-transform: uppercase;
    .printing-price-container {
      color: $lightgrey;
      font-size: 0.8em;
    }
    .printing-price {
      margin-left: 3px;
      color: $lightgrey;
    }
    .total-price-container {
      margin: 10px 0;
      color: $black;
      font-size: 1.2em;
    }
    .total-price {
      margin-left: 3px;
      color: $lightblue;
    }
  }
  .add-to-wishlist {
    display: inline-block;
    margin: 20px 0;
    text-transform: uppercase;
  }
  .product-detail-contents {
    .product-detail-content-header {
      text-transform: uppercase;
      text-align: left;
      border-bottom: #D4D4D4 1px solid;
      border-top: #D4D4D4 1px solid;
      margin-top: -1px;
      a {
        color: black;
        text-decoration: none;
        display: block;
        padding: 10px 0;
        position: relative;
        &:after {
          content: "\f107";
          font-family: FontAwesome;
          position: absolute;
          font-size: 20px;
          line-height: 20px;
          right: 10px;
          transform-origin: center center;
          transition: transform 0.3s;
        }
        &.collapsed {
          &:after {
            transform: rotate(-90deg);
          }
        }
      }
    }
    .product-detail-content {
      text-align: left;
    }
  }
  .product-detail-socail-share {
    border-bottom: #D4D4D4 1px solid;
    ul {
      list-style: none;
      text-align: center;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        margin: 0 10px;
        a {
          font-size: 30px;
          color: #696969;
        }
      }
    }
  }
  .product-detail-extra {
    .row {
      > div {
        font-size: 12px;
        padding: 10px;
        &:first-of-type {
          border-right: #D4D4D4 1px solid;
        }
        label {
          display: block;
          font-weight: normal;
          text-transform: uppercase;
          color: #696969;
        }
        span {
          color: #696969;
        }
        a {
          color: #696969;
          text-transform: uppercase;
          text-decoration: underline;
          &:after {
            content: ',';
            margin: 0 2px;
          }
        }
      }
    }
  }
  @media(max-width: $screen-md) {
    // max-width: 950px;
    .image-carousel-zoom-container {
      padding-left: 80px;
    }
    .image-carousel-container {
      width: 60px;
    }
    .image-carousel-control-next,
    .image-carousel-control-prev {
      width: 60px;
    }
    .image-carousel {
      width: 60px;
      height: 360px;
    }
    .image-carousel-item:hover {
      height: 63px;
    }
    .image-carousel-active-item,
    .image-carousel-active-item:hover {
      height: 63px;
    }
    .image-carousel-item img {
      width: 60px;
      height: 60px;
    }
  }
  @media(max-width: $screen-sm) {
    padding: 0;
    .image-carousel-zoom-container {
      display: none;
    }
    .mobile-image-container {
      display: block;
    }
  }
}
