.progress-indicator {
  display: flex;
  .progress-indicator-item {
    flex-grow: 1;
    border-top: 3px solid #CFCFD0;
    &.active, &.visited {
      border-color: $lightblue;
    }
  }
}
.progress-indicator-pages {
  .progress-indicator-page {
    background: #F5F5F5;
    padding: 20px 0;
    display: none;
    &.active {
      display: block;
    }
  }
  .progress-indicator-page-header {
    padding: 20px 20px 60px;
  }
  .progress-indicator-page-step {
    float: right;
    padding: 20px;
    line-height: 33px;
  }
  .section {
    padding: 20px 20px 10px;
    border-bottom: 1px solid #E3E3E3;
  }
  h3 {
    margin-bottom: 10px;
  }
  .form-group {
    &.text {
      label {
        text-transform: uppercase;
        font-weight: normal;
      }
      .form-control {
        border-color: #878787;
        &:focus {
          box-shadow: 0 1px 0 0 #878787;
        }
      }
    }
    &.select {
      .select-style-2 {
        .dropdown-toggle {
          border-color: #878787;
        }
      }
    }
  }
}
