.country-selection {
  text-align: center;
  p {
    font-size: 24px;
    color: black;
    text-transform: uppercase;
  }
  a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    &:hover,&:active,&:focus {
      color: black;
    }
  }
  h1 {
    font-size: 60px;
  }
}
.country-selector-lists {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
  a {
    color: black;
    font-size: 0.9em;
    text-transform: uppercase;
    &:hover,&:active,&:focus {
      color: black;
    }
  }
  h3 {
    margin: 10px 0;
  }
  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
  }
}
