.review-slider-container {
  margin: 0;
  padding: 0 20px 50px;
  .review-slider {

  }
  h3 {
    text-align: center;
    margin-bottom: 10px;
  }
  .review-slider-markers {
    position: relative;
    > div {
      position: absolute;
      transform: translateX(-50%);
      padding-top: 20px;
      color: $lightgrey;
      &:before{
        content: '\f0d7';
        font-family: 'FontAwesome';
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
      }
      span {
        color: $lightgrey;
        white-space: nowrap;
        text-transform: uppercase;
        font-size: 0.7em;
      }
    }
  }
}
