.top-size-filter {
  background: #292929;
  border-bottom: 0;
  border-bottom: 1px solid #333333;
  > li {
    margin-bottom: 0;
    a {
      color: white;
      border-radius: 0;
      border: 0;
      &:hover {
        border: 0;
        background: transparent;

      }
    }
    &.active {
      > a {
        background: $lightblue;
        border: 0;
        color: white;
        &:hover, &:focus {
          border: 0;
          color: white;
          background: $lightblue;
        }
      }
    }
  }
}

.second-size-filter {
  display: none;
  &.active {
    display: block;
  }
  background: #292929;
  border-bottom: 0;
  > li {
    margin-bottom: 0;
    a {
      color: white;
      border-radius: 0;
      border: 0;
      &:hover {
        border: 0;
        background: transparent;
        
      }
    }
    &.active {
      > a {
        background: transparent;
        color: white;
        border: 0;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 5px;
          background: $lightblue;
          bottom: 0;
          left:0;
        }
        &:hover, &:focus {
          background: transparent;
          color: white;
          border: 0;
        }
      }
    }
  }
}
