#social-panel {
  background: #292929;
  z-index: 20;
  .social-panel-close {
    display: none;
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 20px;
    color: white;
    cursor: pointer;
  }
  .social-activities-list {
    list-style: none;
    padding: 0;
    width: 100%;
    > li {
      width: 100%;
      padding: 40px;
      background-color: #484848;
      color: #A9A9A9;
      a {
        color: $lightblue;
        &:hover {
          color: $lightblue;
        }
      }
      &:nth-child(2n) {
        background-color: #292929;
      }
      .activity-thumbnail {
        img {
          width: 100%;
        }
      }
      .activity-description {
        padding: 20px 40px;
        border-bottom: #A9A9A9 1px solid;
      }
      .tag {
        margin-right: 10px;
      }
      .activity-footer {
        position: relative;
        padding: 10px 0;
        padding-left: 60px;
      }
      .profile-pic {
        position: absolute;
        left: 0;
      }
      .activity-meta {
        h5 {
          margin: 0;
          color: white;
          font-weight: bold;
        }
      }
      .activity-link {
        display: block;
      }
      .activity-time {
        display: block;
      }
      .activity-actions {
        line-height: 40px;
        position: absolute;
        top: 10px;
        right: 60px;
        font-size: 18px;
        padding: 10px;
        a {
          color: white;
          padding: 0 10px;
          &:hover, &:focus {
            color: white;
          }
        }
        ul {
          list-style: none;
          padding: 0;
          @include clearfix;
          li {
            float: left;
          }
        }
      }
      .activity-source {
        line-height: 40px;
        position: absolute;
        right: 0;
        top: 10px;
        font-size: 40px;
        border-left: #A9A9A9 1px solid;
        padding: 10px;
      }
    }
  }
}

@media (max-width: $screen-sm) {

}
