.switch-panels {
  .switch-panel-header {
    @include clearfix;
    border-bottom: 1px solid #ddd;
    line-height: 32px;
    padding: 5px 15px;
    .bootstrap-switch {
      float: right;
    }
  }
  .switch-panel-content {
    padding: 10px 15px;
  }
}
