.tabs {
  &.tab-style-1 {
    .nav-tabs {
      display: flex;
      font-weight: bold;
      > li {
        flex-grow: 1;
        margin-left: 10px;
        margin-right: 10px;
        &:first-of-type {
          margin-left: 0px;
        }
        &:last-of-type {
          margin-right: 0px;
        }
        a {
          margin-right: 0;
          border: 1px solid #ddd;
          color: lighten($lightgrey,20%);
        }

        &.active {
          a {
            color: $black;
            border-bottom: 1px solid transparent;

          }
        }
      }
    }
    .tab-content {
    margin-top: -1px;
    border: 1px solid #ddd;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 10px 15px;
    .switch-panels {
      margin: 0 -15px;
    }
  }
  }
  &.tab-style-2 {
    .nav-tabs {
      text-align: center;
      border-bottom: 3px solid lighten($lightgrey,20%);
      text-transform: uppercase;
      font-family: 'bebas-neue';
      font-size: 30px;
      > li {
        display: inline-block;
        float: none;
        margin-bottom: -3px;
        border-bottom: 3px solid lighten($lightgrey,20%);
        &:first-of-type {
        }
        &:last-of-type {
        }
        a {
          border: 0;
          margin:0;
          padding-left: 25px;
          padding-right: 25px;
          &, &:hover, &:active, &:focus {
            background: inherit;
            color: lighten($lightgrey, 20%);
          }
        }

        &.active {
          border-bottom-color: $lightblue;
          a {
            color: $black;
          }
        }
      }
    }
    .tab-content {
    .switch-panels {
    }
  }
  }
}
