.terms-content {
  background: #F1F1F1;
  padding: 20px;
  h1,h2,h3,h4,h5,h6,p,ul,ol,span,a {
    font-family:sans-serif;
  }
  h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
  }
  .content-title {
    padding: 0;
    margin: 10px 0;
  }
  p {
    font-size: 16px;
    color: black;
    margin: 20px 0;
  }
}
