p {
  color: $lightgrey;
}

span {
  color: $black;
  &.price {
    font-weight: bold;
    color: $black;
    margin-right: 10px;
    &.display {
      color: $lightblue;
    }
    &.orginal {
      text-decoration: line-through;
      font-size: .8em;
    }
    &.discounted {
      color: $lightblue;
    }
  }
}

a {
  &, &:hover {
    color: $lightblue;
  }
  &.black, &.black:hover {
    color: black;
  }
}

em {
  text-decoration: underline;;
  text-transform: uppercase;
  font-style: normal;
}
